.heading {
    text-align: center;
    font-size: 25px;
}

.icons {
    text-align: center;
    margin-top: 15%;
    margin-bottom: 50px;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}


.buttons {
    padding: 8px 20px;
    width: 200px;
    height: 55px;
    border-radius: 0;
    text-transform: uppercase;
    display: inline-block;
    overflow: hidden;
}



.buttons:hover {
    background: transparent;
}

.buttons:active {
    background-color: grey;
    transition-duration: 0.5s;
}

.signature {
    font-size: small;
    font-weight: 200;
    color: gray;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

@media only screen and (max-width: 600px) {
    .icons {
        margin-top: 5%;
    }

    .btn-container {
        flex-direction: column;
        align-items: center;
        gap:10px;
    }

    .buttons {
        width: 100%;
    }

    .signature {
        position: static;
        text-align: center;
    }
}